{{ ansible_managed | comment }}
[rancher-rke2-common-latest]
name=Rancher RKE2 Common Latest
baseurl=https://rpm.rancher.io/rke2/latest/common/centos/{{ ansible_distribution_major_version }}/noarch
enabled=1
gpgcheck=1
gpgkey=https://rpm.rancher.io/public.key

[rancher-rke2-{{ rke2_version | replace(".", "-") }}-latest]
name=Rancher RKE2 {{ rke2_version }} Latest
baseurl=https://rpm.rancher.io/rke2/latest/{{ rke2_version }}/centos/{{ ansible_distribution_major_version }}/x86_64
enabled=1
gpgcheck=1
gpgkey=https://rpm.rancher.io/public.key
